mixin blog-post(href,src,time,title,text,tag)
  .blog-post
    a(href=href)
      img(src=src)(alt="", width="620", height="392")
    .blog-post-content
      .meta.small
        time(datetime="2016")=time
      .text
        h5
          a(href=href)=title
        p=text
        .tag
          a(href="#")=tag